.add-texture-black {
  background-image: url(/assets/img/texture.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  background-color: black;
  font-family: 'Anton', sans-serif;
}

.add-texture-white {
  background-image: url(/assets/img/texture_black.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
  background-color: white;
  font-family: 'Anton', sans-serif;
}

#bottle {
  max-width: 60%;
  height: auto;
  position: relative;

}

.left-aligned {
  text-align: left;
}

.small-text {
  font-size: 12px;
}